@import "tailwindcss";

html {
  overscroll-behavior: none;
}

h1 {
  @apply text-xl;
}

/* Change the color of checkboxes */
input[type="checkbox"] {
  accent-color: var(--color-primary-500);
}

::-webkit-scrollbar {
  height: 6px;
  width: 6px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--color-gray-300);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-gray-400);
}

::-webkit-scrollbar-corner {
  background: transparent;
}

/* Add a custom arrow to the select (chevron) */
select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  padding-right: 2rem;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='gray' stroke-width='2' viewBox='0 0 24 24'><path stroke-linecap='round' stroke-linejoin='round' d='M6 9l6 6 6-6'/></svg>")
    no-repeat right 0.5rem center;
  background-size: 1rem;
}
